        html,
        body {
            margin: 0%;
            padding: 0%;
            scroll-behavior: smooth;
            width: 100%;
            overflow-x: hidden;
        }
        
        body {
            background-color: rgb(204, 204, 204);
        }
        
        @font-face {
            font-family: shabnam;
            src: url("../font/Sahel.woff");
        }
        
        @font-face {
            font-family: naz;
            src: url("../font/naz.ttf")
        }
        
        @font-face {
            font-family: digit;
            src: url("../font/digit.woff");
        }
        
        .header {
            box-sizing: border-box;
            height: 75px;
            width: 100%;
            position: fixed;
            background-color: rgb(36, 36, 36);
            z-index: 100;
            border-bottom: 5px solid rgba(42, 210, 252, 0.5);
            color: white;
            margin-right: 0px;
            padding: 0px;
        }
        
        .header .navbar {
            height: 100%;
            margin-left: 5%;
            position: relative;
            bottom: 0px;
            margin-bottom: 0px;
            padding: 0px;
        }
        
        .header .navbar-nav {
            height: 100%;
        }
        
        .header .nav-item {
            text-align: center;
            bottom: 0px;
            margin-bottom: 0px;
            padding: 0px;
            height: 100%;
            width: 100px;
            cursor: pointer;
            transition: background-color 1s;
            -webkit-transition: background-color 1s;
            -moz-transition: background-color 1s;
            -ms-transition: background-color 1s;
            -o-transition: background-color 1s;
        }
        
        .header .nav-link.active {
            background-color: rgba(42, 210, 252, 0.5);
        }
        
        .header .nav-link {
            padding-top: 20%;
            position: relative;
            height: 100%;
        }
        
        .header .logo {
            position: relative;
            margin-right: 0px;
            height: 75px;
            width: auto;
        }
        
        .bod {
            position: relative;
            width: 100%;
            min-height: 400px;
            top: 75px;
            padding-top: 75px;
            background-image: url("../img/back.jpg");
            background-clip: border-box;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        #sv1 {
            position: relative;
            top: 100%;
            width: 100%;
            height: 200px;
            display: block;
        }
        
        .links {
            height: auto;
            margin: 3%;
            margin-top: 3%;
        }
        
        .col {
            margin-bottom: 20px;
        }
        
        .card-header,
        .navbar * {
            font-family: shabnam;
        }
        
        .card-body {
            text-align: center;
        }
        
        .card-body img {
            position: relative;
            height: inherit;
            width: 100%;
        }
        
        .card-footer {
            font-family: naz;
        }
        
        .card-footer span {
            display: block;
            direction: rtl;
            text-align: justify;
            line-height: 160%;
            margin: 10px 0px 10px 0px;
        }
        
        .sep {
            position: relative;
            content: "";
            width: 98%;
            height: 1px;
            background-color: rgba(136, 136, 136, 0.75);
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .card-footer a {
            text-decoration: none;
            color: black;
        }
        
        .card {
            height: 100%;
            margin-bottom: 5%;
            -webkit-box-shadow: 0px 17px 22px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 17px 22px 1px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 17px 22px 1px rgba(0, 0, 0, 0.75);
        }
        
        .aboutUs {
            direction: rtl;
            font-family: naz;
            font-size: 20px;
            text-align: justify;
            line-height: 35px;
            width: 100%;
            padding: 5%;
            border-top: 3px solid rgba(136, 136, 136, 0.75);
            border-bottom: 3px solid rgba(136, 136, 136, 0.75);
            margin-top: 10%;
            margin-bottom: 0%;
            padding-top: 75px;
        }
        
        .contactUs {
            margin: 0%;
            background-color: rgb(1, 2, 36);
            direction: rtl;
            font-family: shabnam;
            text-align: right;
            color: azure;
            padding: 5%;
            padding-top: 75px;
            line-height: 35px;
        }
        
        .number {
            text-align: left;
            padding-left: 10px;
        }
        
        .colnav {
            top: -100%;
            position: fixed;
            width: 100%;
            z-index: 99;
            background-color: rgb(36, 36, 36);
        }
        
        .colbut {
            display: none;
        }
        
        footer {
            direction: rtl;
            background-color: black;
            color: white;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            padding: 25px;
            text-align: right;
        }
        
        .sticker {
            font-family: shabnam;
            display: inline-block;
            border: 1px solid white;
            margin: 2px;
            padding: 2px;
        }
        
        .sticker p {
            padding: 0px;
            margin: 0px;
        }
        
        .number {
            font-family: digit;
            color: white;
        }
        
        @media only screen and (max-width:576px) {
            .header .nav-item.active {
                background-color: none;
                border-bottom: none;
            }
            .colbut {
                display: inline-block;
            }
            #horinav {
                display: none;
            }
            .header {
                height: 50px;
            }
            .header .logo {
                height: 50px;
            }
            .bod {
                top: 50px;
                ;
            }
        }
        
        @media only screen and (max-width:768px) {
            .card {
                height: auto;
            }
        }
        
        .map {
            position: relative;
            text-align: right;
            height: 300px;
            width: 100%;
        }